<form>
   <h4 class="text-xs-center">Add New Note</h4>
   <div class="form-group">
      <label>Select Verse</label><br>
      <div class="btn-group">
         <div ngbRadioGroup [(ngModel)]="newNoteVerse" name="radioVs">
            <select [(ngModel)]='newNoteVerse' name="noteVerse" class="form-control">
               <option *ngFor="let vs of aVss" [value]="vs">{{vs}}</option>
            </select>
         </div>
      </div>
   </div>
   <div class="form-group">
      <label>Select Note Type</label><br>
      <div class="btn-group">
         <div [(ngModel)]="newNoteType" ngbRadioGroup name="radioType">
            <label class="btn btn-secondary">
               <input type="radio" [value]="'NOTES'"><span class="fa fa-paperclip"></span>
            </label>
            <label class="btn btn-secondary">
               <input type="radio" [value]="'MEDIA'"><span class="fa fa-photo"></span>
            </label>
            <label class="btn btn-secondary">
               <input type="radio" [value]="'XREFS'"><span class="fa fa-arrows-alt"></span>
            </label>
         </div>
      </div>
   </div>
   <div class="form-group">
      <label>Enter Title</label>
      <input name="noteTitle" [(ngModel)]='newNoteTitle' type="text" class="form-control">
   </div>
   <div class="form-group">
      <label>Enter Description</label>
      <textarea name="noteDesc" [(ngModel)]='newNoteDesc' type="text" class="form-control"></textarea>
   </div>

   <span [ngSwitch]="newNoteType">
      <div *ngSwitchCase="'NOTES'">
         <div class="form-group">
            <label>Enter References</label>
            <input name="noteRefTitle" [(ngModel)]='newNoteRefTitle' type="text" class="form-control" placeholder="Reference Title">
            <input name="noteRefUrl" [(ngModel)]='newNoteRefUrl' type="text" class="form-control" placeholder="Reference URL">
         </div>
      </div>
      <div *ngSwitchCase="'MEDIA'">
         <div class="form-group">
            <label>Media URL</label>
            <input type="text" name="noteMediaUrl" [(ngModel)]='newNoteMediaUrl' class="form-control" placeholder="e.g. http://wol.jw.org/en/wol/mp/r1/lp-e/w13/2013/563">
         </div>
         <div class="form-group">
            <label>Enter References</label>
            <input name="noteRefTitle" [(ngModel)]='newNoteRefTitle' type="text" class="form-control" placeholder="Reference Title">
            <input name="noteRefUrl" [(ngModel)]='newNoteRefUrl' type="text" class="form-control" placeholder="Reference URL">
         </div>
      </div>
      <div *ngSwitchCase="'XREFS'">
         <div class="form-group">
            <label>Cross Reference</label>
            <select [(ngModel)]='newNoteXType' name="noteXType" class="form-control">
               <option value="GEN">General</option>
               <option value="PAR">Parallel Account</option>
               <option value="PCY">Fulfilled Prophecy</option>
            </select>
            <input [(ngModel)]='newNoteXRef' name="noteXRef" type="text" class="form-control" placeholder="Bible verse">
         </div>
      </div>
   </span>

   <button class="btn btn-primary" (click)="createNote()">Create Note</button>
</form>