<!-- Bible Navigation -->
<div class="hidden-lg-up bible--nav mx-auto">
   <div class="col-xs-6">
      <select class="form-control" [(ngModel)]="book" (change)="navigateReader($event.target.value, 1)">
         <option *ngFor="let book of books; let i = index" [value]="i + 1">{{ book.standardName }}</option>
      </select>
   </div>
   <div class="col-xs-6">
      <select class="form-control" [(ngModel)]="chapter" (change)="navigateReader(book, $event.target.value)">
         <option *ngFor="let chapter of chapters; let i = index" [value]="chapter">{{ chapter }}</option>
      </select>
   </div>
</div>
<div class="col-md-3 bible--nav--desktop hidden-md-down">
   <div class="form-group">
      <select class="form-control" [(ngModel)]="book" (change)="navigateReader($event.target.value, 1)">
         <option *ngFor="let book of books; let i = index" [value]="i + 1">{{ book.standardName }}</option>
      </select>
      <div class="chapter--box">
         <button type="button" class="btn btn-secondary chapter--btn col-xs-2" *ngFor="let chapter of chapters" [class.chapter--btn--active]="chapter === selectedChapter" [routerLink]="['/notible', book, chapter]">{{ chapter }}</button>
      </div>

   </div>
</div>

<!-- Bible Reader -->
<div class="col-md-6 mgt">
   <div class="reader--box">
      <p class="text-xs-center" *ngIf="isLoading">
         <span class="fa fa-spinner fa-spin fa-4x"></span>
         <br>
         <span class="h3">Loading...</span>
      </p>
      <p class="h2 text-xs-center" *ngIf="!isLoading && selectedBook && selectedChapter" [innerHtml]="chapterTitle"></p>
      <div *ngIf="!isLoading && selectedBook && selectedChapter" [innerHtml]="bibleText"></div>
      <div class="row">
         <div class="col-xs-2 chap chap--prev" [routerLink]="['/notible', book, chapter - 1]">
            <span class="fa fa-chevron-left"></span>
         </div>
         <div class="col-xs-8"></div>
         <div class="col-xs-2 chap chap--next" [routerLink]="['/notible', book, chapter + 1]">
            <span class="fa fa-chevron-right"></span>
         </div>
      </div>
   </div>
</div>

<!-- Notes Screen -->
<div class="hidden-lg-up notes--nav" *ngIf="!isNotesNavCollapsed" (click)="isNotesNavCollapsed = !isNotesNavCollapsed">
   <span class="fa fa-pencil"></span>
</div>
<div *ngIf="isNotesNavCollapsed" class="notes--box">
   <div class="notes--box--bar">
      <div class="notes--box--close" (click)="isNotesNavCollapsed = !isNotesNavCollapsed">
         <span class="fa fa-close"></span>
      </div>
   </div>
   <ngb-tabset *ngIf="selectedBook">
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-paperclip"></span>
         </template>
         <template ngbTabContent>
            <app-notes [book]="selectedBook" [chapter]="selectedChapter" [type]="'NOTES'"></app-notes>
         </template>
      </ngb-tab>
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-photo"></span>
         </template>
         <template ngbTabContent>
            <app-notes [book]="selectedBook" [chapter]="selectedChapter" [type]="'MEDIA'"></app-notes>
         </template>
      </ngb-tab>
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-arrows-alt"></span>
         </template>
         <template ngbTabContent>
            <app-notes [book]="selectedBook" [chapter]="selectedChapter" [type]="'XREFS'"></app-notes>
         </template>
      </ngb-tab>
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-pencil"></span>
         </template>
         <template ngbTabContent>
            <app-new-note [book]="selectedBook" [chapter]="selectedChapter" [verses]="60"></app-new-note>
         </template>
      </ngb-tab>
   </ngb-tabset>
</div>
<div class="col-md-3 hidden-md-down">
   <ngb-tabset *ngIf="selectedBook">
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-paperclip"></span>
         </template>
         <template ngbTabContent>
            <app-notes [book]="selectedBook" [chapter]="selectedChapter" [type]="'NOTES'"></app-notes>
         </template>
      </ngb-tab>
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-photo"></span>
         </template>
         <template ngbTabContent>
            <app-notes [book]="selectedBook" [chapter]="selectedChapter" [type]="'MEDIA'"></app-notes>
         </template>
      </ngb-tab>
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-arrows-alt"></span>
         </template>
         <template ngbTabContent>
            <app-notes [book]="selectedBook" [chapter]="selectedChapter" [type]="'XREFS'"></app-notes>
         </template>
      </ngb-tab>
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-pencil"></span>
         </template>
         <template ngbTabContent>
            <app-new-note [book]="selectedBook" [chapter]="selectedChapter" [verses]="60"></app-new-note>
         </template>
      </ngb-tab>
   </ngb-tabset>
</div>