.chapter {
   &--box {
      margin-top: 10px;
   }

   &--btn--active {
      background-color: #6666EE;
      color: #ffffff;
   }
}

.reader--box {
   clear: left;
   padding-top: 5px;
}

.clearleft {
   clear: left;
}

.chap {
   cursor: pointer;
   border: 1px solid lightgray;
   background-color: #eeeeee;
   margin-bottom: 10px;

   &--prev {
      text-align: left;
      padding: 5px 10px 5px 10px;
   }
   &--next {
      text-align: right;
      padding: 5px 10px 5px 10px;
   }
}

.collapse--btn {
   margin-top: 10px;
}

.navbar--separator {
   padding-top: 55px !important;
}

.bible--nav {
   padding: 5px;
   padding-top: 5px;
   background-color: white;
   z-index: -1;
   &--desktop {
      height: 100%;
   }
}

.mgt {
   margin-top: 30px;
}

.notes {
   &--nav {
      cursor: pointer;
      position: fixed;
      z-index: 2;
      top: 450px;
      right: 0px;
      border: 1px solid lightblue;
      padding: 5px 10px;
      background-color: white;
   }

   &--box {
      margin-top: 40px;
      z-index: 5;
      background-color: #ffeeee;
      position: fixed;
      border-top: 2px solid lightgray;
      border-left: 2px solid lightgray;
      height: 82%;
      width: 100%;
      overflow-y: scroll;
      padding: 5px 0px 20px 0px;
      &--bar {
         border-bottom: 0.5px solid gray;
      }
      &--close {
         border-right: 0.5px solid gray;
         padding: 5px 10px;
      }
   }
}