<div class="col-md-3">
   <!-- <div (click)="isNavCollapsed = !isNavCollapsed" class="col-md-12">
      <br>
      <span class="fa fa-border fa-2x" [class.fa-plus]="isNavCollapsed" [class.fa-minus]="!isNavCollapsed"></span>
   </div> -->

   <div class="form-group" [ngbCollapse]="isNavCollapsed">
      <div ngbDropdown>
         <button class="btn btn-outline-primary w-100" id="dropdownMenu1" ngbDropdownToggle>{{ bookName }}</button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <button class="dropdown-item" *ngFor="let book of books" (click)="showText(book, 1)">{{ book.standardName }}</button>
         </div>
      </div>

      <div class="chapter--box">
         <button type="button" class="btn btn-secondary chapter--btn col-xs-2" *ngFor="let chapter of chapters" [class.chapter--btn--active]="chapter === selectedChapter" (click)="showText(selectedBook, chapter)">{{ chapter }}</button>
      </div>

   </div>
   <button type="button" class="btn btn-outline-secondary w-100 collapse--btn" (click)="isNavCollapsed = !isNavCollapsed">
      <span class="fa" [class.fa-chevron-up]="!isNavCollapsed" [class.fa-chevron-down]="isNavCollapsed"></span>
   </button>
</div>
<div class="col-md-6">
   <div class="reader--box">
      <p class="text-xs-center" *ngIf="isLoading">
         <span class="fa fa-spinner fa-spin fa-4x"></span>
         <br>
         <span class="h3">Loading...</span>
      </p>
      <p class="h2 text-xs-center" *ngIf="!isLoading && selectedBook && selectedChapter" [innerHtml]="chapterTitle"></p>
      <div *ngIf="!isLoading && selectedBook && selectedChapter" [innerHtml]="bibleText"></div>
   </div>
</div>


<div class="col-md-3">
   <ngb-tabset>
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-paperclip"></span>
         </template>
         <template ngbTabContent>
            <app-notes [booknumber]="2" [chapter]="2" [type]="'NOTES'"></app-notes>
         </template>
      </ngb-tab>
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-photo"></span>
         </template>
         <template ngbTabContent>
            <app-notes [booknumber]="2" [chapter]="2" [type]="'MEDIA'"></app-notes>
         </template>
      </ngb-tab>
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-arrows-alt"></span>
         </template>
         <template ngbTabContent>
            <app-notes [booknumber]="2" [chapter]="2" [type]="'XREFS'"></app-notes>
         </template>
      </ngb-tab>
      <ngb-tab>
         <template ngbTabTitle>
            <span class="fa fa-pencil"></span>
         </template>
         <template ngbTabContent>
            <form>
               <h4 class="text-xs-center">Add New Note</h4>
               <div class="form-group">
                  <label>Select Verse</label><br>
                  <div class="btn-group">
                     <div ngbRadioGroup [(ngModel)]="newNoteVerse" name="radioVs">
                        <label class="btn btn-secondary" *ngFor="let vs of [1,2,3]">
                           <input [value]="vs" type="radio">{{vs}}
                        </label>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label>Select Note Type</label><br>
                  <div class="btn-group">
                     <div [(ngModel)]="newNoteType" ngbRadioGroup name="radioType">
                        <label class="btn btn-secondary">
                           <input type="radio" [value]="'NOTES'"><span class="fa fa-paperclip"></span>
                        </label>
                        <label class="btn btn-secondary">
                           <input type="radio" [value]="'MEDIA'"><span class="fa fa-photo"></span>
                        </label>
                        <label class="btn btn-secondary">
                           <input type="radio" [value]="'XREFS'"><span class="fa fa-arrows-alt"></span>
                        </label>
                     </div>
                  </div>
               </div>
               <button class="btn btn-primary">Create Note</button>
            </form>
         </template>
      </ngb-tab>
   </ngb-tabset>
</div>