<li class="list-group-item term--new" *ngIf="isNewTermCollapsed" (click)="isNewTermCollapsed = !isNewTermCollapsed">
   <span class="fa fa-plus"></span> Add New Term
</li>

<li class="list-group-item" *ngIf="!isNewTermCollapsed">
   <div class="term--new--close pull-xs-right" (click)="isNewTermCollapsed = !isNewTermCollapsed"><span class="fa fa-close fa-lg"></span></div><p class="h5">Add New Term</p>
   
   <div class="form-group">
      <input class="form-control" #term placeholder="New Term">
      <textarea class="form-control" #def placeholder="Term Definition"></textarea>
      <button class="btn btn-primary" (click)="addNewTerm(term.value, def.value)">Add Term</button>
   </div>
</li>

<p *ngIf="terms">
   <app-list-container [list]="terms" [type]="'ACCD'"></app-list-container>
</p>
