.term {
   color: #000077;
}

.term:hover {
   color: #000066;
   background-color: #eeeeee;
}

.term--new {
   background-color: #eeeeff;
}

.term--new:hover {
   background-color: #BAE5FF;
}

.term--new--close {
   padding-bottom: 10px;
   color: #88CCFF;
}

.term--selected {
   background: #dddddd;
   font-weight: bold;
}

.terms {
   cursor: pointer;
}

.selectedterm {
   position: fixed;
   left: 28%;
   top: 30px;
}

.selectedterm--title {
   color: #8888bb;
}

.selectedterm--desc {
   color: #7777bb;
}

.lower-right {
   display: none;
   position: fixed;
   top: 65%;
   left: 75%;
}