.thumbnail {
  margin: 2px;
  position: relative;
  cursor: pointer;

  border: 0.5px solid gray;
  width: 80px;
  height: 80px;
  overflow: hidden;
  float: left;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
